body{
  margin:0;
  background:black;
  color:white;
  font-family:Arial;
}

.navbar{
  display:flex;
  justify-content:space-around;
  background:#111;
  padding:15px;
}

.container{
  padding:20px;
}

.search-box{
  display:flex;
  gap:10px;
}

.search-box input{
  flex:1;
  padding:12px;
  border:none;
  border-radius:10px;
}

.search-box button{
  padding:12px 20px;
  border:none;
  border-radius:10px;
  cursor:pointer;
}

#results{
  margin-top:20px;
}

.diagram-image{
  width:100%;
  max-width:400px;
  border-radius:12px;
}
