body{
  margin:0;
  background:black;
  color:white;
  font-family:Arial;
}

.navbar{
  display:flex;
  justify-content:space-around;
  padding:15px;
  background:#111;
}

button{
  padding:10px 15px;
  border:none;
  border-radius:8px;
}

.container{
  padding:20px;
}

#searchInput{
  width:70%;
  padding:12px;
  border-radius:10px;
}

.diagram-image{
  width:100%;
  max-width:400px;
  border-radius:12px;
}
