body{
  margin:0;
  background:black;
  color:white;
  font-family:Arial;
}

.navbar{
  display:flex;
  justify-content:space-around;
  padding:15px;
  background:#111;
}

button{
  padding:10px 15px;
  border:none;
  border-radius:8px;
}

.container{
  padding:20px;
}

#searchInput{
  width:70%;
  padding:12px;
  border-radius:10px;
}

.diagram-image{
  width:100%;
  max-width:400px;
  border-radius:12px;
}
#results{
  padding:20px;
  padding-bottom:100px;
}

.search-container{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  background:#111;
  padding:10px;
  display:flex;
  gap:10px;
  box-sizing:border-box;
}

#searchInput{
  flex:1;
  padding:15px;
  border:none;
  border-radius:25px;
  font-size:16px;
}

.search-container button{
  padding:15px 20px;
  border:none;
  border-radius:25px;
  cursor:pointer;
}
